{
    "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
    "env": {
        "es6": true,
        "jest": true,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "impliedStrict": true,
            "experimentalObjectRestSpread": true
        }
    },
    "plugins": [
        "react"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "import/prefer-default-export": 2,
        "import/no-named-as-default-member": 0,
        "indent": [1, 4, { "SwitchCase": 1 }],
        "react/jsx-indent": [1, 4],
        "react/jsx-indent-props": [1, 4]
    }
}
